﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="News.aspx.cs" Inherits="Longview.News" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style>
        .entry-title a:link, .entry-title a:visited {
            color: #000;
            text-decoration: none;
        }
    </style>
</head>
<body style="font-family: Raleway;">
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
