﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Longview.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
    <head runat="server">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%: Page.Title %></title>

        <asp:PlaceHolder runat="server">
            <%: Scripts.Render("~/bundles/modernizr") %>
        </asp:PlaceHolder>
        <webopt:bundlereference runat="server" path="~/Content/css" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <style>
            @font-face { font-family: "Raleway"; src: url('/fonts/Raleway-Regular.ttf'); }
            @font-face { font-family: "Raleway"; src: url('/fonts/Raleway-SemiBold.ttf'); font-weight: 500; }
            @font-face { font-family: "Raleway"; src: url('/fonts/Raleway-Bold.ttf'); font-weight: bold; }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                visibility: hidden;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                right: 0;
                border-color: gray;

                transition: visibility 0.5s;
            }

            .dropdown-item img
            {
                float: left;
            }

            .dropdown-item
            {
                padding: 10px;
            }

            .dropdown-item:hover
            {
                background-color: lightgray;
            }

            .dropdown:focus {
                pointer-events: none;
                background-color: lightgray;
            }

            .dropdown-content:focus
            {
                visibility: visible;
            }

            .dropdown:focus .dropdown-content {
                visibility: visible;
                outline: none;
                pointer-events: auto;

                transition: visibility 0.5s;
            }
        </style>
    </head>

    <body>
        <form runat="server">
            <asp:ScriptManager runat="server">
                <Scripts>
                    <%--To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=301884 --%>
                    <%--Framework Scripts--%>
                    <asp:ScriptReference Name="MsAjaxBundle" />
                    <asp:ScriptReference Name="jquery" />
                    <asp:ScriptReference Name="bootstrap" />
                    <asp:ScriptReference Name="respond" />
                    <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                    <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                    <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                    <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                    <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                    <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                    <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                    <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                    <asp:ScriptReference Name="WebFormsBundle" />
                    <%--Site Scripts--%>
                </Scripts>
            </asp:ScriptManager>

            <header> 
		        <table width="100%">
		            <tr>
			            <td width="5%"></td>
			            <td width="10%" valign="middle" align="left"><a href="/"><img src="/images/longview.png" style="height: 67px;" alt=""/></a></td>
			            <td align="right">
                            <% if (Page.User.Identity.IsAuthenticated)
                                { %>
                            <div class="dropdown" tabindex="0" style="outline: none; padding: 0 5px;" onclick="this.focus();">
                                <div style="height: 50px; cursor: pointer;">
                                    <asp:Label ID="Username" runat="server" Text="Label" Font-Size="14pt"></asp:Label><img src="Images/user.png" width="50px" height="50px" />
                                </div>
                            
                                <div id="ddMenu" class="dropdown-content" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="Settings" runat="server" style="width: 200px;">&nbsp;&nbsp;&nbsp;<img src="Images/settings.png" />Account Settings</a>
                                    <a class="dropdown-item" href="#" runat="server" onserverclick="Button1_OnClick">&nbsp;&nbsp;&nbsp;<img src="Images/logout.png" />Log Out</a>
                                </div>
                            </div>
                            <% } %>
			            </td>
		                <td width="5%"></td>
		            </tr>
		        </table>
	        </header>
        
            <div>
                <asp:ContentPlaceHolder ID="MainContent" runat="server">
                </asp:ContentPlaceHolder>
            </div>

            <table style="min-width:960px; background-color:#181727" bgcolor="#181727" height="250px" width="100%" align="center">
                <tr>
                    <td colspan="9" height="40px"></td>
                </tr>

                <tr>
                    <td width="10%"></td>
                    <td valign="top">

                        <p style="font-family:'Raleway'; color:#8e909e; font-size:16px; font-weight:bold">LONGEVITI LLC.</p><br />
                        <p style="font-family:'Raleway'; color:#8e909e; font-size:16px"><i>As Dynamic As Our Customers</i></p>
                    </td>

                    <td width="10%"></td>
                    <td valign="top"><p style="font-family:'Raleway'; color:#8e909e; font-size:16px; font-weight:bold">HEADQUARTERS</p><br />
                        <p style="font-family:'Raleway'; color:#8e909e; font-size:16px">45240 Business Court <br />Suite #410<br />
                        Sterling, VA 20166<br />
                        (703) 848-7965</p></td>
                    <td width="10%"></td>

                    <td valign="top"><p style="font-family:'Raleway'; color:#8e909e; font-size:16px; font-weight:bold">QUICK LINKS</p><br />
                    <a href="http://www.vscyberhosting2.com/longeviti/" style="text-decoration:none"><p style="font-family:'Raleway'; color:#8e909e; font-size:16px; text-decoration:none">> Careers</p></a><br /><br />
                    <a href="http://www.longevitillc.com/services.html" style="text-decoration:none"><p style="font-family:'Raleway'; color:#8e909e; font-size:16px; text-decoration:none">> Services</p></a></td>
                    <td width="10%"></td>
                    <td valign="top"><p style="font-family:'Raleway'; color:#8e909e; font-size:16px; font-weight:bold">FOLLOW US</p><br />
                        <a href="https://www.linkedin.com/company/longeviti-llc" style="border:0;"><img src="/images/linkedin.png" width="35px" /></a></td>
                    <td width="10%"></td>
                </tr>

                <tr>
                    <td colspan="9" height="40px"></td>
                </tr>

            </table>

            <table style="min-width:960px; background-color: #4e5866;" bgcolor="#4e5866" height="50px" width="100%" align="center">
                <tr>
                    <td width="10%"></td>
                    <td width="40%"><p style="font-family:'Raleway'; font-size:14px; color:#828b98">Copyright 2016 &copy; Website designed by <em style="color:#42b880; font-style:normal">Longeviti LLC.</em></p></td>
                    <td width="40%" align="right">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td><a href="http://www.longevitillc.com/news/" style="text-decoration:none"><p style="font-family:'Raleway'; font-size:14px; color:#828b98">News</p></a></td>
                                <td><p style="font-family:'Raleway'; font-size:14px; color:#828b98">&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
                                <td><a href="http://www.longevitillc.com/contact.html" style="text-decoration:none"><p style="font-family:'Raleway'; font-size:14px; color:#828b98">Contact The Team</p></a></td>
                            </tr>
                        </table>
                    </td>
                    <td width="10%"></td>
                </tr>
            </table>
        </form>
    </body>
</html>
