﻿.contentBox {
    font-family: Raleway;
    border: 1px solid #80808045;
    box-shadow: 5px 5px 5px #b8b8b8;
    background-color: white;
    min-width: 400px;
}

.contentBoxB {
    font-family: Raleway;
    border: 1px solid #80808045;
    box-shadow: 5px 5px 5px #b8b8b8;
    background-color: white;
}

@font-face { font-family: "Raleway"; src: url('/fonts/Raleway-Regular.ttf'); }
@font-face { font-family: "Raleway"; src: url('/fonts/Raleway-SemiBold.ttf'); font-weight: 500; }
@font-face { font-family: "Raleway"; src: url('/fonts/Raleway-Bold.ttf'); font-weight: bold; }